<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @restaurant.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @restaurant.address %>
</p>

<p>
  <strong>Phone number</strong>
  <%= @restaurant.phone_number %>
</p>

<p>
  <strong>Category:</strong>
  <%= @restaurant.category %>
</p>


<h3>The reviews</h3>

<ul>
<% @restaurant.reviews.each do |review| %>
  <li>
    <div class="p-2 d-flex justify-content-between align-items-center bg-light">
      <p class="mb-0">
        <%= review.content %>
      </p>
    <div>
  </li>
<% end %>
</ul>

<%= link_to 'Add review', new_restaurant_review_path(@restaurant), class: 'btn btn-xs btn-primary' %>
<%= link_to 'Back', restaurants_path, class: 'btn btn-xs btn-primary' %>
</div>
